.App{
  text-align: center;
}

.box{
  max-width: 600px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 1px 4px;
  padding: 10px;
}


li{
  list-style: none;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 1px 4px;
  padding: 10px;
  font-size: 20px;
}


button{
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}

.add{
  background-color: rgb(228, 91, 91);
}

.sub{
  background-color: rgb(95, 175, 95);
}

.completed{
  box-shadow: rgb(47, 245, 136) 0px 1px 4px;
}

.uncompleted{
  box-shadow: rgb(250, 76, 76) 0px 1px 4px;
}